.large.taichi{content:url("../images/users/taichi.png");width:32px;height:32px;}
.small.taichi{content:url("../images/users/taichi.png");width:16px;height:16px;}
.large.lanius{content:url("../images/users/lanius.png");width:32px;height:32px;}
.small.lanius{content:url("../images/users/lanius.png");width:16px;height:16px;}
